.main {
  flex-grow: 1;
  overflow: auto;

  &::after {
    background: {
      image:
        get-slice(27),
        get-slice(31),
        get-slice(34),
        get-slice(36),
        get-slice(39),
        get-slice(32);
      position-y:
        0,
        dppx(22),
        calc(50% + (22px * var(--resolution))),
        calc(100% - (22px * var(--resolution))),
        100%,
        0;
      repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        repeat;
      size: contain;
    }

    height: 100%;
    width: dppx(19);
  }
}

.content {
  display: grid;
  grid-template-columns: 30px 62vw repeat(26, 120px);
  grid-template-rows: 30px 62vh repeat(30, 30px);
  overflow: auto;
  width: 100%;
}

.title {
  color: #333;

  &-line {
    &__1 {
      font-size: 2.62em;
    }

    &__2 {
      font-size: 1.62em;
      padding: .5em 1.62em 0;
    }
  }

  &-intro {
    &__1 {
      font-family: monospace;
      animation: .5s ease-in-out 0s infinite alternate blink;
    }

    &__2 {
      display: inline-block;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      overflow: hidden;

      .rail {
        animation: 5s linear 0s infinite line-2;
        background: {
          clip: text;
          image: linear-gradient(
            to right,
            #d30808,
            #e2b51f,
            #34be34,
            #1dacac,
            #0000ff,
            #782cdb);     
        }
        color: transparent;
        display: inline-block;
      }
    }
  }

  &-wordart {
    &__1 {
      animation: .6s linear 0s infinite wordart-1-animation;
      color: #822400;

      font: {
        family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        size: 1.62em;
      }

      text-shadow: .01em .01em,
      .02em .02em,
      .03em .03em,
      .04em .04em,
      .05em .05em,
      .06em .06em,
      .07em .07em;
      transform: rotate3d(1, -1, -.5, 35deg);

      &::before {
        background-image: linear-gradient(#fdea55, #fe5a00);
        transform: translate(-.02em, -.02em);
      }
    }

    &__2 {
      animation: 1s ease-in-out 0s infinite alternate wordart-2-animation;
      color: #222;
      font-weight: 900;

      &::before {
        background-image: linear-gradient(#61d394, #107c41);
        bottom: .025em;
        left: .025em;
      }
    }
  }
}

.wordart {
  display: inline-block;
  line-height: 1;
  position: relative;

  &::before {
    background-clip: text;
    color: transparent;
    content: 'Excel';
    display: inline-block;
    line-height: 1;
    position: absolute;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes line-2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes wordart-1-animation {
  0% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(0, 0);
  }

  19% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(0, 0);
  }

  20% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(-.1em, .1em);
  }

  39% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(-.1em, .1em);
  }

  40% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(.1em, -.1em);
  }

  59% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(.1em, -.1em);
  }

  60% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(-.1em, 0);
  }

  79% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(-.1em, 0);
  }

  80% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(0, .1em);
  }

  99% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(0, .1em);
  }

  100% {
    transform: rotate3d(1, -1, -.5, 35deg) translate(0, 0);
  }
}

@keyframes wordart-2-animation {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(90deg);
  }
}